<article class="accordion">
    <h1 class="accordion-title">{{ accordion['fp_title'] }} <i class="i i-arrow-down"></i></h1>

    <div class="accordion-content\">
        {{ accordion['fp_content'] }}
    </div>
</article>